.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body { min-height: 100vh; }

.contenedor {
      height:  100%;
      width: 100%;

}

.frame{
    height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navegacion a:hover{
  color: white !important;
  text-decoration: none !important;
}
/* Responsive */



/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1500px) {
  .frame{
    height: 100vh;
}    
  .navegacion {display:none}
}

@media (min-width: 768px) and (max-width: 991px) {
  .navegacion {
    height: 10vh;
   
  }

  .botonActivo {
    background-color: #0a70a9; /* Green */
    
    box-shadow: 10px 10px 20px     #262626 inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width:33.33%;
    height:100%;
    
  }

  .button {
    background-image: linear-gradient(180deg, #0d8ed9,   #063f60);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width:33.33%;
    height:100%;
    
  }

  .frame{
    height: 100vh;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  .navegacion {background-color: purple;}
}

@media (max-width: 575px) {
  .navegacion {background-color: lightcoral;
    height: 10vh;}
  .botonActivo {
    background-color: #0a70a9; /* Green */
    
    box-shadow: 10px 10px 20px     #262626 inset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:33.33%;
    height:100%;
    white-space: nowrap;
  }

  .button {
    background-image: linear-gradient(180deg, #0d8ed9,   #063f60);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:33.33%;
    height:100%;
    white-space: nowrap;
  }
}

